@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Fira Sans", serif;
    /* max-width: 1280px;
    margin: 0 auto; */
    background-color: rgba(240, 240, 255, 0.61);
}

header{
    max-width: 1280px;
    margin: 0 auto;
}

main{
    max-width: 1280px;
    margin: 0 auto;
}

/* ---------------share style--------------------- */

.primary-btn{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    background: rgb(0, 106, 80);
    border-radius: 8px;
    padding: 17px 34px;
    border: none;
    cursor: pointer;
}

.the-vision-box{
    width: 410px;
    height: 265px;
    border-radius: 16px;
    padding: 24px;
}

.section-title{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.section-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


/* ---------------nav style--------------------- */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.nav-title{
    color: #0E0E0E;
    font-size: 32px;
    font-weight: 700;
}

.nav-btn {
    color: #006A50;
    padding: 15px 30px;
    border: 1px solid #006A50;
    background-color: rgba(240, 240, 255, 0.61);
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.nav-btn:hover {
    padding: 15px 30px;
    border: 1px solid rgba(240, 240, 255, 0.61);
    background-color: #006A50;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
}



/* ---------------hero/banner style--------------------- */

.banner{
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
    height: 560px;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

}

.banner-contant{
    width: 622px;
}

.banner-subtitle{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
}

.banner-title{
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
}

.banner-img{
    width: 474px;
    height: 400px;
}

/* ---------------pillars section style--------------------- */

.pillars{
    margin-bottom: 80px;
}

.pillars-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.pillar{
    width: 302px;
    height: 244px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;

}

.pillar>img{
    width: 50px;
}

.pillar-name{
    color: #0E0E0E;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.pillar-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* ---------------The Vision of Future Section style--------------------- */

.future{
    margin-bottom: 32px;
}

.vision-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.the-vision1{
    background: rgba(84, 144, 245, 0.2);
}

.the-vision2{
    background: rgb(198, 228, 214);
}

.the-vision3{
    background: rgb(247, 235, 207);
}

.vision-items img{
    width: 50px;
}

.vision-name{
    color: #0E0E0E;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.vision-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.learn-more1{
    background-color: rgb(84, 144, 245);
}

.learn-more2{
    background-color: rgb(9, 161, 92) ;
}

.learn-more3{
    background-color: rgb(255, 194, 57);
}

/* ---------------advise Section style--------------------- */

.advise{
    background-color: #fff;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 48px 24px;
    height: 180px;
    margin-bottom: 80px;
}

.advise-contant{
    margin-top: -55px;
}

.advise-contant>p {
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.advise-contant h3{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
}

.adviser-rank{
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* ---------------your opinion section style--------------------- */

.your-opinion table{
    width: 100%;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 32px;
}

tr{
    width: 1017px;
}

/* ---------------News section style--------------------- */

.news{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 48px;
    background-color: #fff;
    border-radius: 24px;
    margin-bottom: 24px;
}

.news>img{
    border-radius: 24px;
}

.news-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.news-contant time{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

/* ---------------Donate section style--------------------- */

.donate{
    text-align: center;
}

.amount{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 23px auto;
    width: 1071px;
}

.taka{
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    padding: 40px;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15)
}

.amount-input{
    width: 1071px;
    height: 64px;
    background: rgb(255, 255, 255);
    border: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    text-align: center;
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
    
}

.amount-input:focus{
    color: black;
}

/* ---------------Subscribe section style--------------------- */

.subscribe{
    text-align: center;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 100px;
    margin: 80px 0;

}

.email-input{
    width: 600px;
    height: 64px;
    border: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    text-align: left;
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 24px;
    padding: 0 40px;
   
}

.subscribe-btn{
    height: 64px;
    border-radius: 0px 8px 8px 0px;
    margin-left: -10px ;

}

.subscribe-info{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

}

/* ---------------Footer section style--------------------- */

footer{
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

footer>h3{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

hr{
    width: 1122px;
    border: 1px solid rgba(14, 14, 14, 0.1);
}

.footer-icons img{
    padding: 14px;
}